<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.glp.backend.mybatis.generate.dao.ruleItemMapper">
  <resultMap id="BaseResultMap" type="com.glp.backend.mybatis.generate.pojo.ruleItem">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="model_id" jdbcType="INTEGER" property="modelId" />
    <result column="sub_model_id" jdbcType="INTEGER" property="subModelId" />
    <result column="dimension_id" jdbcType="INTEGER" property="dimensionId" />
    <result column="rule_group_Id" jdbcType="INTEGER" property="ruleGroupId" />
    <result column="rule_code" jdbcType="VARCHAR" property="ruleCode" />
    <result column="rule_name" jdbcType="VARCHAR" property="ruleName" />
    <result column="rule_content" jdbcType="VARCHAR" property="ruleContent" />
    <result column="rule_condition" jdbcType="VARCHAR" property="ruleCondition" />
    <result column="rule_condition_js" jdbcType="VARCHAR" property="ruleConditionJs" />
    <result column="rule_condition_name" jdbcType="VARCHAR" property="ruleConditionName" />
    <result column="control_level" jdbcType="VARCHAR" property="controlLevel" />
    <result column="monitor_title_code" jdbcType="VARCHAR" property="monitorTitleCode" />
    <result column="monitor_title" jdbcType="VARCHAR" property="monitorTitle" />
    <result column="rule_status" jdbcType="VARCHAR" property="ruleStatus" />
    <result column="lock_cycle" jdbcType="VARCHAR" property="lockCycle" />
    <result column="comments" jdbcType="VARCHAR" property="comments" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="created_by" jdbcType="CHAR" property="createdBy" />
    <result column="updated_by" jdbcType="CHAR" property="updatedBy" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="sys_rule_id" jdbcType="INTEGER" property="sysRuleId" />
    <result column="cron_type" jdbcType="VARCHAR" property="cronType" />
    <result column="cron_name" jdbcType="VARCHAR" property="cronName" />
    <result column="risk_type" jdbcType="VARCHAR" property="riskType" />
    <result column="timing_type" jdbcType="VARCHAR" property="timingType" />
    <result column="rule_type" jdbcType="VARCHAR" property="ruleType" />
    <result column="business_type" jdbcType="VARCHAR" property="businessType" />
    <result column="risk_level" jdbcType="INTEGER" property="riskLevel" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, model_id, sub_model_id, dimension_id, rule_group_Id, rule_code, rule_name, rule_content, 
    rule_condition, rule_condition_js, rule_condition_name, control_level, monitor_title_code, 
    monitor_title, rule_status, lock_cycle, comments, created_at, updated_at, created_by, 
    updated_by, version, sys_rule_id, cron_type, cron_name, risk_type, timing_type, rule_type, 
    business_type, risk_level
  </sql>
  <select id="selectByExample" parameterType="com.glp.backend.mybatis.generate.pojo.ruleItemExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from rule_item
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from rule_item
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from rule_item
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.glp.backend.mybatis.generate.pojo.ruleItem">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into rule_item (model_id, sub_model_id, dimension_id, 
      rule_group_Id, rule_code, rule_name, 
      rule_content, rule_condition, rule_condition_js, 
      rule_condition_name, control_level, monitor_title_code, 
      monitor_title, rule_status, lock_cycle, 
      comments, created_at, updated_at, 
      created_by, updated_by, version, 
      sys_rule_id, cron_type, cron_name, 
      risk_type, timing_type, rule_type, 
      business_type, risk_level)
    values (#{modelId,jdbcType=INTEGER}, #{subModelId,jdbcType=INTEGER}, #{dimensionId,jdbcType=INTEGER}, 
      #{ruleGroupId,jdbcType=INTEGER}, #{ruleCode,jdbcType=VARCHAR}, #{ruleName,jdbcType=VARCHAR}, 
      #{ruleContent,jdbcType=VARCHAR}, #{ruleCondition,jdbcType=VARCHAR}, #{ruleConditionJs,jdbcType=VARCHAR}, 
      #{ruleConditionName,jdbcType=VARCHAR}, #{controlLevel,jdbcType=VARCHAR}, #{monitorTitleCode,jdbcType=VARCHAR}, 
      #{monitorTitle,jdbcType=VARCHAR}, #{ruleStatus,jdbcType=VARCHAR}, #{lockCycle,jdbcType=VARCHAR}, 
      #{comments,jdbcType=VARCHAR}, #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP}, 
      #{createdBy,jdbcType=CHAR}, #{updatedBy,jdbcType=CHAR}, #{version,jdbcType=INTEGER}, 
      #{sysRuleId,jdbcType=INTEGER}, #{cronType,jdbcType=VARCHAR}, #{cronName,jdbcType=VARCHAR}, 
      #{riskType,jdbcType=VARCHAR}, #{timingType,jdbcType=VARCHAR}, #{ruleType,jdbcType=VARCHAR}, 
      #{businessType,jdbcType=VARCHAR}, #{riskLevel,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.glp.backend.mybatis.generate.pojo.ruleItem">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into rule_item
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="modelId != null">
        model_id,
      </if>
      <if test="subModelId != null">
        sub_model_id,
      </if>
      <if test="dimensionId != null">
        dimension_id,
      </if>
      <if test="ruleGroupId != null">
        rule_group_Id,
      </if>
      <if test="ruleCode != null">
        rule_code,
      </if>
      <if test="ruleName != null">
        rule_name,
      </if>
      <if test="ruleContent != null">
        rule_content,
      </if>
      <if test="ruleCondition != null">
        rule_condition,
      </if>
      <if test="ruleConditionJs != null">
        rule_condition_js,
      </if>
      <if test="ruleConditionName != null">
        rule_condition_name,
      </if>
      <if test="controlLevel != null">
        control_level,
      </if>
      <if test="monitorTitleCode != null">
        monitor_title_code,
      </if>
      <if test="monitorTitle != null">
        monitor_title,
      </if>
      <if test="ruleStatus != null">
        rule_status,
      </if>
      <if test="lockCycle != null">
        lock_cycle,
      </if>
      <if test="comments != null">
        comments,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="updatedBy != null">
        updated_by,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="sysRuleId != null">
        sys_rule_id,
      </if>
      <if test="cronType != null">
        cron_type,
      </if>
      <if test="cronName != null">
        cron_name,
      </if>
      <if test="riskType != null">
        risk_type,
      </if>
      <if test="timingType != null">
        timing_type,
      </if>
      <if test="ruleType != null">
        rule_type,
      </if>
      <if test="businessType != null">
        business_type,
      </if>
      <if test="riskLevel != null">
        risk_level,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="modelId != null">
        #{modelId,jdbcType=INTEGER},
      </if>
      <if test="subModelId != null">
        #{subModelId,jdbcType=INTEGER},
      </if>
      <if test="dimensionId != null">
        #{dimensionId,jdbcType=INTEGER},
      </if>
      <if test="ruleGroupId != null">
        #{ruleGroupId,jdbcType=INTEGER},
      </if>
      <if test="ruleCode != null">
        #{ruleCode,jdbcType=VARCHAR},
      </if>
      <if test="ruleName != null">
        #{ruleName,jdbcType=VARCHAR},
      </if>
      <if test="ruleContent != null">
        #{ruleContent,jdbcType=VARCHAR},
      </if>
      <if test="ruleCondition != null">
        #{ruleCondition,jdbcType=VARCHAR},
      </if>
      <if test="ruleConditionJs != null">
        #{ruleConditionJs,jdbcType=VARCHAR},
      </if>
      <if test="ruleConditionName != null">
        #{ruleConditionName,jdbcType=VARCHAR},
      </if>
      <if test="controlLevel != null">
        #{controlLevel,jdbcType=VARCHAR},
      </if>
      <if test="monitorTitleCode != null">
        #{monitorTitleCode,jdbcType=VARCHAR},
      </if>
      <if test="monitorTitle != null">
        #{monitorTitle,jdbcType=VARCHAR},
      </if>
      <if test="ruleStatus != null">
        #{ruleStatus,jdbcType=VARCHAR},
      </if>
      <if test="lockCycle != null">
        #{lockCycle,jdbcType=VARCHAR},
      </if>
      <if test="comments != null">
        #{comments,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=CHAR},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=CHAR},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
      <if test="sysRuleId != null">
        #{sysRuleId,jdbcType=INTEGER},
      </if>
      <if test="cronType != null">
        #{cronType,jdbcType=VARCHAR},
      </if>
      <if test="cronName != null">
        #{cronName,jdbcType=VARCHAR},
      </if>
      <if test="riskType != null">
        #{riskType,jdbcType=VARCHAR},
      </if>
      <if test="timingType != null">
        #{timingType,jdbcType=VARCHAR},
      </if>
      <if test="ruleType != null">
        #{ruleType,jdbcType=VARCHAR},
      </if>
      <if test="businessType != null">
        #{businessType,jdbcType=VARCHAR},
      </if>
      <if test="riskLevel != null">
        #{riskLevel,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.glp.backend.mybatis.generate.pojo.ruleItem">
    update rule_item
    <set>
      <if test="modelId != null">
        model_id = #{modelId,jdbcType=INTEGER},
      </if>
      <if test="subModelId != null">
        sub_model_id = #{subModelId,jdbcType=INTEGER},
      </if>
      <if test="dimensionId != null">
        dimension_id = #{dimensionId,jdbcType=INTEGER},
      </if>
      <if test="ruleGroupId != null">
        rule_group_Id = #{ruleGroupId,jdbcType=INTEGER},
      </if>
      <if test="ruleCode != null">
        rule_code = #{ruleCode,jdbcType=VARCHAR},
      </if>
      <if test="ruleName != null">
        rule_name = #{ruleName,jdbcType=VARCHAR},
      </if>
      <if test="ruleContent != null">
        rule_content = #{ruleContent,jdbcType=VARCHAR},
      </if>
      <if test="ruleCondition != null">
        rule_condition = #{ruleCondition,jdbcType=VARCHAR},
      </if>
      <if test="ruleConditionJs != null">
        rule_condition_js = #{ruleConditionJs,jdbcType=VARCHAR},
      </if>
      <if test="ruleConditionName != null">
        rule_condition_name = #{ruleConditionName,jdbcType=VARCHAR},
      </if>
      <if test="controlLevel != null">
        control_level = #{controlLevel,jdbcType=VARCHAR},
      </if>
      <if test="monitorTitleCode != null">
        monitor_title_code = #{monitorTitleCode,jdbcType=VARCHAR},
      </if>
      <if test="monitorTitle != null">
        monitor_title = #{monitorTitle,jdbcType=VARCHAR},
      </if>
      <if test="ruleStatus != null">
        rule_status = #{ruleStatus,jdbcType=VARCHAR},
      </if>
      <if test="lockCycle != null">
        lock_cycle = #{lockCycle,jdbcType=VARCHAR},
      </if>
      <if test="comments != null">
        comments = #{comments,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=CHAR},
      </if>
      <if test="updatedBy != null">
        updated_by = #{updatedBy,jdbcType=CHAR},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="sysRuleId != null">
        sys_rule_id = #{sysRuleId,jdbcType=INTEGER},
      </if>
      <if test="cronType != null">
        cron_type = #{cronType,jdbcType=VARCHAR},
      </if>
      <if test="cronName != null">
        cron_name = #{cronName,jdbcType=VARCHAR},
      </if>
      <if test="riskType != null">
        risk_type = #{riskType,jdbcType=VARCHAR},
      </if>
      <if test="timingType != null">
        timing_type = #{timingType,jdbcType=VARCHAR},
      </if>
      <if test="ruleType != null">
        rule_type = #{ruleType,jdbcType=VARCHAR},
      </if>
      <if test="businessType != null">
        business_type = #{businessType,jdbcType=VARCHAR},
      </if>
      <if test="riskLevel != null">
        risk_level = #{riskLevel,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.glp.backend.mybatis.generate.pojo.ruleItem">
    update rule_item
    set model_id = #{modelId,jdbcType=INTEGER},
      sub_model_id = #{subModelId,jdbcType=INTEGER},
      dimension_id = #{dimensionId,jdbcType=INTEGER},
      rule_group_Id = #{ruleGroupId,jdbcType=INTEGER},
      rule_code = #{ruleCode,jdbcType=VARCHAR},
      rule_name = #{ruleName,jdbcType=VARCHAR},
      rule_content = #{ruleContent,jdbcType=VARCHAR},
      rule_condition = #{ruleCondition,jdbcType=VARCHAR},
      rule_condition_js = #{ruleConditionJs,jdbcType=VARCHAR},
      rule_condition_name = #{ruleConditionName,jdbcType=VARCHAR},
      control_level = #{controlLevel,jdbcType=VARCHAR},
      monitor_title_code = #{monitorTitleCode,jdbcType=VARCHAR},
      monitor_title = #{monitorTitle,jdbcType=VARCHAR},
      rule_status = #{ruleStatus,jdbcType=VARCHAR},
      lock_cycle = #{lockCycle,jdbcType=VARCHAR},
      comments = #{comments,jdbcType=VARCHAR},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      created_by = #{createdBy,jdbcType=CHAR},
      updated_by = #{updatedBy,jdbcType=CHAR},
      version = #{version,jdbcType=INTEGER},
      sys_rule_id = #{sysRuleId,jdbcType=INTEGER},
      cron_type = #{cronType,jdbcType=VARCHAR},
      cron_name = #{cronName,jdbcType=VARCHAR},
      risk_type = #{riskType,jdbcType=VARCHAR},
      timing_type = #{timingType,jdbcType=VARCHAR},
      rule_type = #{ruleType,jdbcType=VARCHAR},
      business_type = #{businessType,jdbcType=VARCHAR},
      risk_level = #{riskLevel,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <insert id="insertBatchSelective" parameterType="java.util.List">
    insert into rule_item
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="list[0].id!=null">
        id,
      </if>
      <if test="list[0].modelId!=null">
        model_id,
      </if>
      <if test="list[0].subModelId!=null">
        sub_model_id,
      </if>
      <if test="list[0].dimensionId!=null">
        dimension_id,
      </if>
      <if test="list[0].ruleGroupId!=null">
        rule_group_Id,
      </if>
      <if test="list[0].ruleCode!=null">
        rule_code,
      </if>
      <if test="list[0].ruleName!=null">
        rule_name,
      </if>
      <if test="list[0].ruleContent!=null">
        rule_content,
      </if>
      <if test="list[0].ruleCondition!=null">
        rule_condition,
      </if>
      <if test="list[0].ruleConditionJs!=null">
        rule_condition_js,
      </if>
      <if test="list[0].ruleConditionName!=null">
        rule_condition_name,
      </if>
      <if test="list[0].controlLevel!=null">
        control_level,
      </if>
      <if test="list[0].monitorTitleCode!=null">
        monitor_title_code,
      </if>
      <if test="list[0].monitorTitle!=null">
        monitor_title,
      </if>
      <if test="list[0].ruleStatus!=null">
        rule_status,
      </if>
      <if test="list[0].lockCycle!=null">
        lock_cycle,
      </if>
      <if test="list[0].comments!=null">
        comments,
      </if>
      <if test="list[0].createdAt!=null">
        created_at,
      </if>
      <if test="list[0].updatedAt!=null">
        updated_at,
      </if>
      <if test="list[0].createdBy!=null">
        created_by,
      </if>
      <if test="list[0].updatedBy!=null">
        updated_by,
      </if>
      <if test="list[0].version!=null">
        version,
      </if>
      <if test="list[0].sysRuleId!=null">
        sys_rule_id,
      </if>
      <if test="list[0].cronType!=null">
        cron_type,
      </if>
      <if test="list[0].cronName!=null">
        cron_name,
      </if>
      <if test="list[0].riskType!=null">
        risk_type,
      </if>
      <if test="list[0].timingType!=null">
        timing_type,
      </if>
      <if test="list[0].ruleType!=null">
        rule_type,
      </if>
      <if test="list[0].businessType!=null">
        business_type,
      </if>
      <if test="list[0].riskLevel!=null">
        risk_level,
      </if>
    </trim>
     values 
    <foreach collection="list" index="index" item="item" separator=",">
      <trim prefix=" (" suffix=")" suffixOverrides=",">
        <if test="item.id!=null">
          #{item.id,jdbcType=INTEGER},
        </if>
        <if test="item.modelId!=null">
          #{item.modelId,jdbcType=INTEGER},
        </if>
        <if test="item.subModelId!=null">
          #{item.subModelId,jdbcType=INTEGER},
        </if>
        <if test="item.dimensionId!=null">
          #{item.dimensionId,jdbcType=INTEGER},
        </if>
        <if test="item.ruleGroupId!=null">
          #{item.ruleGroupId,jdbcType=INTEGER},
        </if>
        <if test="item.ruleCode!=null">
          #{item.ruleCode,jdbcType=VARCHAR},
        </if>
        <if test="item.ruleName!=null">
          #{item.ruleName,jdbcType=VARCHAR},
        </if>
        <if test="item.ruleContent!=null">
          #{item.ruleContent,jdbcType=VARCHAR},
        </if>
        <if test="item.ruleCondition!=null">
          #{item.ruleCondition,jdbcType=VARCHAR},
        </if>
        <if test="item.ruleConditionJs!=null">
          #{item.ruleConditionJs,jdbcType=VARCHAR},
        </if>
        <if test="item.ruleConditionName!=null">
          #{item.ruleConditionName,jdbcType=VARCHAR},
        </if>
        <if test="item.controlLevel!=null">
          #{item.controlLevel,jdbcType=VARCHAR},
        </if>
        <if test="item.monitorTitleCode!=null">
          #{item.monitorTitleCode,jdbcType=VARCHAR},
        </if>
        <if test="item.monitorTitle!=null">
          #{item.monitorTitle,jdbcType=VARCHAR},
        </if>
        <if test="item.ruleStatus!=null">
          #{item.ruleStatus,jdbcType=VARCHAR},
        </if>
        <if test="item.lockCycle!=null">
          #{item.lockCycle,jdbcType=VARCHAR},
        </if>
        <if test="item.comments!=null">
          #{item.comments,jdbcType=VARCHAR},
        </if>
        <if test="item.createdAt!=null">
          #{item.createdAt,jdbcType=TIMESTAMP},
        </if>
        <if test="item.updatedAt!=null">
          #{item.updatedAt,jdbcType=TIMESTAMP},
        </if>
        <if test="item.createdBy!=null">
          #{item.createdBy,jdbcType=CHAR},
        </if>
        <if test="item.updatedBy!=null">
          #{item.updatedBy,jdbcType=CHAR},
        </if>
        <if test="item.version!=null">
          #{item.version,jdbcType=INTEGER},
        </if>
        <if test="item.sysRuleId!=null">
          #{item.sysRuleId,jdbcType=INTEGER},
        </if>
        <if test="item.cronType!=null">
          #{item.cronType,jdbcType=VARCHAR},
        </if>
        <if test="item.cronName!=null">
          #{item.cronName,jdbcType=VARCHAR},
        </if>
        <if test="item.riskType!=null">
          #{item.riskType,jdbcType=VARCHAR},
        </if>
        <if test="item.timingType!=null">
          #{item.timingType,jdbcType=VARCHAR},
        </if>
        <if test="item.ruleType!=null">
          #{item.ruleType,jdbcType=VARCHAR},
        </if>
        <if test="item.businessType!=null">
          #{item.businessType,jdbcType=VARCHAR},
        </if>
        <if test="item.riskLevel!=null">
          #{item.riskLevel,jdbcType=INTEGER},
        </if>
      </trim>
    </foreach>
  </insert>
  <update id="updateBatchByPrimaryKeySelective" parameterType="java.util.List">
    <foreach collection="list" index="index" item="item" separator=";">
      update rule_item
      <set>
        <if test="item.modelId!=null">
          model_id=#{item.modelId,jdbcType=INTEGER},
        </if>
        <if test="item.subModelId!=null">
          sub_model_id=#{item.subModelId,jdbcType=INTEGER},
        </if>
        <if test="item.dimensionId!=null">
          dimension_id=#{item.dimensionId,jdbcType=INTEGER},
        </if>
        <if test="item.ruleGroupId!=null">
          rule_group_Id=#{item.ruleGroupId,jdbcType=INTEGER},
        </if>
        <if test="item.ruleCode!=null">
          rule_code=#{item.ruleCode,jdbcType=VARCHAR},
        </if>
        <if test="item.ruleName!=null">
          rule_name=#{item.ruleName,jdbcType=VARCHAR},
        </if>
        <if test="item.ruleContent!=null">
          rule_content=#{item.ruleContent,jdbcType=VARCHAR},
        </if>
        <if test="item.ruleCondition!=null">
          rule_condition=#{item.ruleCondition,jdbcType=VARCHAR},
        </if>
        <if test="item.ruleConditionJs!=null">
          rule_condition_js=#{item.ruleConditionJs,jdbcType=VARCHAR},
        </if>
        <if test="item.ruleConditionName!=null">
          rule_condition_name=#{item.ruleConditionName,jdbcType=VARCHAR},
        </if>
        <if test="item.controlLevel!=null">
          control_level=#{item.controlLevel,jdbcType=VARCHAR},
        </if>
        <if test="item.monitorTitleCode!=null">
          monitor_title_code=#{item.monitorTitleCode,jdbcType=VARCHAR},
        </if>
        <if test="item.monitorTitle!=null">
          monitor_title=#{item.monitorTitle,jdbcType=VARCHAR},
        </if>
        <if test="item.ruleStatus!=null">
          rule_status=#{item.ruleStatus,jdbcType=VARCHAR},
        </if>
        <if test="item.lockCycle!=null">
          lock_cycle=#{item.lockCycle,jdbcType=VARCHAR},
        </if>
        <if test="item.comments!=null">
          comments=#{item.comments,jdbcType=VARCHAR},
        </if>
        <if test="item.createdAt!=null">
          created_at=#{item.createdAt,jdbcType=TIMESTAMP},
        </if>
        <if test="item.updatedAt!=null">
          updated_at=#{item.updatedAt,jdbcType=TIMESTAMP},
        </if>
        <if test="item.createdBy!=null">
          created_by=#{item.createdBy,jdbcType=CHAR},
        </if>
        <if test="item.updatedBy!=null">
          updated_by=#{item.updatedBy,jdbcType=CHAR},
        </if>
        <if test="item.version!=null">
          version=#{item.version,jdbcType=INTEGER},
        </if>
        <if test="item.sysRuleId!=null">
          sys_rule_id=#{item.sysRuleId,jdbcType=INTEGER},
        </if>
        <if test="item.cronType!=null">
          cron_type=#{item.cronType,jdbcType=VARCHAR},
        </if>
        <if test="item.cronName!=null">
          cron_name=#{item.cronName,jdbcType=VARCHAR},
        </if>
        <if test="item.riskType!=null">
          risk_type=#{item.riskType,jdbcType=VARCHAR},
        </if>
        <if test="item.timingType!=null">
          timing_type=#{item.timingType,jdbcType=VARCHAR},
        </if>
        <if test="item.ruleType!=null">
          rule_type=#{item.ruleType,jdbcType=VARCHAR},
        </if>
        <if test="item.businessType!=null">
          business_type=#{item.businessType,jdbcType=VARCHAR},
        </if>
        <if test="item.riskLevel!=null">
          risk_level=#{item.riskLevel,jdbcType=INTEGER},
        </if>
      </set>
      where 
      id = #{item.id,jdbcType=INTEGER}
    </foreach>
  </update>
</mapper>