<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.artemis.sparrow.dao.RiskProductBusnissTypeMapper">
  <resultMap id="BaseResultMap" type="org.artemis.sparrow.entity.RiskProductBusnissType">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="product_code" jdbcType="VARCHAR" property="productCode" />
    <result column="business_code" jdbcType="VARCHAR" property="businessCode" />
    <result column="project_code" jdbcType="VARCHAR" property="projectCode" />
    <result column="cust_model" jdbcType="VARCHAR" property="custModel" />
    <result column="model_id" jdbcType="VARCHAR" property="modelId" />
    <result column="record_status" jdbcType="TINYINT" property="recordStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="hbase_table" jdbcType="VARCHAR" property="hbaseTable" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, product_code, business_code, project_code, cust_model, model_id, record_status, 
    create_time, update_time, hbase_table
  </sql>
</mapper>